

.navigation_bar{
    
    height: 50px;
    width: 100%;
    display: block;
    background-color: rgba(247, 195, 8, 0.9);
    margin: 0px 0px 4px 0px;
    
}
header{
  
  margin-top: 0px;
  
  
}
.heading{
  font-family:"Trirong", serif;
    text-align: left;
    
    text-shadow:300px;
    text-decoration-color: #050303;
    color: #fdfafa;
    font-size:40px;
    background-color: #0b7616;
}

.list{
  list-style-type: none;
  
  text-align: right;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  
} 
 .text::after{
  content: " +";
}
.text:hover::after{
  content: " -";
}
.text:hover{
  color: brown;

}
.text{
  float: right;
  padding: 10px;
  color: white;
  text-decoration: none;
  
   list-style: none none outside;
}
.line{
  object-fit: fill;
  height: 25px;
  width: 25x;
  display: flex;
}
#space{
  margin: 30px;

}
.jamun{
  position: relative;
  
  
}
.quote{
  position: absolute;
  top: 10px;
  left:10px;
  color: #ffffff;
  font-family:cursive;
  font-weight:bolder;
  font-size: 30px;

}

.jamun2{
  
  height: 450px;
  width: 100%;
  display: flex;
  filter: blur(2px);
  -webkit-filter: blur(4px);
  

}
.dropdown{
  float:right;
} 
 .info{
  display:none;
  border: solid black 3px;
  padding: 8px;
  z-index: 1;
  position: absolute;
  top: 110px;
  right: 10px;
  height: 300px;
  width: 400px;
  text-align: left;
  background-color: darkgray;

}

.dropdown:active .info{
   display: block;

    
}
.submenu{
  display: none;
}
/* ul{
  list-style-type: none;
  background-color: rgb(247, 247, 31);
  width: 1150px;
}
ul li{
  display:inline-block;
  position: relative;
  align-items:end ;
}
ul li a{
  display: block;
  padding: 10px;
  color: #0a0a0a;
  text-decoration: none;
  text-align: center;
  font-size: 20px;

}
ul li ul.submenu li{
  display: block;
}
ul li ul.submenu{
  width: 100%;
  color:white;
  background-color: #0a0a0a;
  position: absolute;
  z-index: 999;
  display: none;
}
ul li a:hover{
  background-color: darkgray;
  color: black;
}
ul li:hover ul.dropdown{
  display: block;
} */
.collection{
  display: flex;
  flex-wrap: wrap;
  
}
div p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: #0a0a0a;
  font-size: 20px;
  text-align: center;
  margin-top: 2px;
}
/* div img{
  margin: 30px;
  
} */
section .sweet-types{
  background-color: rgba(241, 227, 208, 0.514);
}
.Sweetheading{
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
  padding: 30px;
  text-shadow: #3d2121;
  text-decoration: underline;
}
.item1{
  margin-left: 30px;
}
.collection{
  justify-content: space-between;
  
}
@media screen and (min-width:700px){
  .item6{
    margin-left: 30px;
  }
}
.collection img{
  border: #ffffff;
  border-radius: 6px;
  clip-path: circle(50% at 50% 50%);
}




